div {
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  border: 0;
  padding: 0;
}

button {
  border-radius: 0;
  border-color: transparent;
  background-color: transparent;
}

image {
  border: 0;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.window-container {
  position: fixed;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  min-height: 100%;
}

.view {
  position: absolute;
  width: 100%;
  height: auto;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.seperator {
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.separator::before {
  content: "—"; 
  margin-right: 10px;
}