.chat-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  left: auto;
  top: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: min(40vw, 40vh);
  height: min(38vw, 38vh);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.chat-closed-container {
  position: fixed;
  bottom: min(5vw, 5vh);
  right: min(8vw, 8vh);
  border-radius: 1000px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  top: auto;
  left: auto;
}

.chat-image-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: min(12vw, 12vh);
  height: min(12vw, 12vh);
  border-radius: 1000px;
  position: relative;
  background-image: url("../chatbotIcon.jpeg")
}

.chat-image-container:hover {
  -moz-box-shadow: 0 0 4px #5b5b5b;
	-webkit-box-shadow: 0 0 4px #5b5b5b;
	box-shadow: 0 0 4px #5b5b5b;
  cursor: pointer;
}



.message {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.5;
}



.chat-input-container {
  display: flex;
  padding: 10px;
  position: relative;
  width: 100%;
}

.cohere-chat-input-text {
  border-radius: 5px;
  font-size: 16px;
  padding: 2%;
}

.chat-box-header {
  align-items: flex-start;
  width: 100%;
  padding: 3%;
  position: fixed;
  bottom: 10px;
  right: 10px;
  left: auto;
  top: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: min-content;
  height: min-content;
  background-color: #e0e0e06b;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chat-submit-button {
  border: none;
  background-color: #462FA7; 
  color: #fff;
  border-radius: 5px;
  padding: 2%;
  margin-left: 1vw;
  width: 10%;
  font-size: 16px;
}
 
.cohere-chat-button {
  border: none;
  background-color: #462FA7; 
  color: #fff;
  border-radius: 5px;
  padding: 2%;
  margin-left: 1vw;
  width: 95%;
  font-size: 16px;
}

.cohere-chat-button:hover {
  font-size: 17.5px;
  cursor: pointer;
}

.message {
  display: flex;
  align-items: center;
  margin: 8px;
}

.user {
  justify-content: flex-start;
}

.bot {
  justify-content: flex-end;
}

.user img {
  margin-right: 8px;
}

.bot img {
  margin-left: 8px;
}

.user p {
  background-color: #007aff;
  color: #fff;
  border-radius: 16px;
  padding: 8px;
  margin: 0;
}

.bot p {
  background-color: #bbbbbb9b;
  color: #222;
  border-radius: 16px;
  padding: 8px;
  margin: 0;
}

