    .event_title {
        display: flex;
        margin-left: 50px;
        height: 60px;
    }

    .event_subtitle {
      position: relative;
      width: 100%;
    }

    .event_photo {
        object-fit: contain;
    }

    .event_photo_image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
    }

    .event-participants-view-container {
      width: 30%;
      display: flex;
      position: relative;
      align-items: flex-end;
      justify-content: flex-end;
    }

    .event_summary {
        width: 85%;
        justify-content: flex-start;
        margin: auto;
    }

    .event-page-subcontainer {
        width: 85%;
        margin: auto;
        display: flex;
        align-items: flex-start;
    }

    .event-page-left-container {
      display: flex;
      width: 60%;
      height: 100%;
      flex-direction: column;
      position: relative;
      margin-right: min(1.8vw, 1.8vh);
    }

    .event-page-right-container {
      display: flex;
      width: 40%;
      height: 100%;
      flex-direction: column;
      position: relative;
      justify-content: flex-end;
      align-items: flex-end;
    }

    .participant-header-title {
      position: relative;
      justify-content: flex-start;
      align-items: flex-start;
      display: flex;
      font-weight: 600;
      font-size: min(2.6vw, 3vh);
      margin: auto;
      margin-top: min(3vw, 3.5vh)
    }

    .event-group-chat {
      position: relative;
      width: 50%;
      height: 100%;
      margin: auto;
    }

    .event-group-chat:hover {
      width: 55%;
      height: 105%;
    }

    .event-join-group-chat-button {
      background-color: #2b2b2b;
      border-radius: 5px;
      color: #fff;
      width: 100%;
      font-size: min(2.2vw, 2.8vh);
      padding: 4%;
    }

    .event-join-group-chat-button:hover {
      font-size: min(2.5vw, 3vh);
    }

    .event_description {
        object-fit: contain;
        width: 85%;
        margin: auto;
    }

    .event_join {
        object-fit: contain;
        top: 300px;
        margin-left: 630px;
    }

    .faqs {
        width: 85%;
        margin: auto;
      }
      
      .faqs .faq {
        margin: 15px;
        padding: 15px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
      }
      
      .faqs .faq .faq-question {
        position: relative;
        font-size: 20px;
        padding-right: 80px;
        transition: all 0.4s ease;
      }
      
      .faqs .faq .faq-question::after {
        content: "+";
        position: absolute;
        top: 50%;
        right: 0px;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        transition: all 0.2s ease;
      }
      
      .faqs .faq .faq-answer {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: all 0.2s ease;
      }
      
      .faqs .faq.open .faq-question {
        margin-bottom: 15px;
      }
      
      .faqs .faq.open .faq-question::after {
        content: "-";
      }
      
      .faqs .faq.open .faq-answer {
        max-height: 1000px;
        opacity: 1;
      }
